<!-- <footer class="h-10">
  Made with ❤️ by <a href="https://www.linkedin.com/in/mouhamadou-mansour-thior-496286160/" target="_blank">HIO</a>
</footer> -->


<footer class="bg-white
       text-sm 
       text-center
       fixed
       inset-x-0
       bottom-0
       p-4">
  Made with ❤️ by <a href="https://www.linkedin.com/in/mouhamadou-mansour-thior-496286160/" target="_blank">HIO</a>
</footer>
