// .footer {
//     position: fixed;
//     color: #FF8063;
//     text-align: center;
//     height: 50px;
//     bottom: 0px;
//     left: 0px;
//     right: 0px;
//     margin-bottom: 0px;
// }

// .footer {
//     position: fixed;
//     text-align: center;
//     color: #FF8063;
//     padding: 10px 10px 0px 10px;
//     bottom: 0;
//     width: 100%;
//     /* Height of the footer*/ 
//     height: 40px;
// }

.footer {
    height:24px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 10pt;
}   

.footer_contents {
    color: #FF8063;
    height:24px; // Replace with the height your footer should be
    width: 1000px; // Visible width of footer
    margin:auto;
    font-weight: bold;
}