<app-header></app-header>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate class="search-form">

  <div class="grid p-8 gap-12 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">
    <div class="flex flex-col p-7">
      <input type="date" formControlName="startDate"
        class="xs:w-80 bg-amber-100 rounded-xl px-2 py-8 border-b-2 border-yellow-300 outline-none" id="startDate" required
        name="startDate">
      <p class="text-gray-600 text-xl italic font-semibold"> Start date </p>
    </div>
    <div class="flex flex-col p-7">
      <input type="date" formControlName="endDate"
        class="xs:w-80 bg-amber-100 rounded-xl px-2 py-8 border-b-2 border-yellow-300 outline-none" id="endDate"
        name="endDate">
      <p class="text-gray-600 text-xl italic font-semibold"> End date </p>
    </div>
    <div class="flex flex-col p-7">
      <select class="xs:w-80 bg-amber-100 rounded-xl px-2 py-8 border-b-2 border-yellow-300 outline-none"
        formControlName="branch" id="branch" name="branch" (change)="onChange()">
        <option value="all" selected> --- All the branches --- </option>
        <option *ngFor="let branch of branches" [ngValue]="branch"> {{ branch.name }} |
          {{ branch.commit.author_email }}</option>
      </select>
      <p class="text-gray-600 text-xl italic font-semibold"> Branches </p>
    </div>
  </div>

  <div class="flex justify-center items-center flex-col p-4">
    <div *ngIf="isLoading; else showSearch">
      <div class="
              animate-spin
              rounded-full
              h-32
              w-32
              border-t-2 border-b-2 border-yellow-300">
      </div>
    </div>
    <ng-template #showSearch>
      <button type="submit" [disabled]="!searchForm.valid"
        class="bg-yellow-300 hover:bg-yellow-400 active:bg-yellow-600 focus:outline-none focus:ring focus:ring-yellow-300 rounded-xl py-6 px-12 border-2 outline-none rounded-md font-semibold">
        Search </button>
    </ng-template>
  </div>
</form>

<div *ngIf="showChart">
  <highcharts-chart #chart [Highcharts]="highcharts" [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
