<nav class="flex items-center justify-between flex-wrap bg-white p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a class="navbar-brand logo" href="/home">
        Weekporting
      </a>
  </div>
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <button (click)="logout()"
    class="bg-red-300 hover:bg-red-400 active:bg-red-600 focus:outline-none focus:ring focus:ring-red-300 rounded-xl py-4 px-6 border-2 outline-none rounded-md font-semibold">
    Logout </button>
</div>
</nav>
