<nav class="flex items-center justify-between flex-wrap bg-white p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a class="navbar-brand logo" href="/">
      Weekporting
    </a>
  </div>
</nav>


<div class="py-20 overflow-x-hidden ">
  <div
    class="p-6 container md:w-2/3 xl:w-auto mx-auto flex flex-col xl:items-stretch justify-between xl:flex-row bg-white">
    <div class="xl:w-1/2 md:mb-14 xl:mb-0 relative h-auto flex items-center justify-center">
      <img src="../../../assets/accueil.png" alt="" role="img" class="h-full xl:w-full lg:w-1/2 w-full" />
    </div>
    <div class="w-full xl:w-1/2 xl:pl-40 xl:py-28">
      <h1
        class="text-2xl md:text-4xl xl:text-5xl font-bold leading-10 text-gray-800 mb-4 text-center xl:text-left md:mt-0 mt-4">
        Welcome to weekporting !</h1>
      <p class="text-xl leading-normal text-yellow-600 text-center xl:text-left font-bold"> Made with ❤️ by a learner.</p>
      <section>
        <div class="container mx-auto py-12">
          <div class="flex" id="ProgressStepper">
            <div class="w-1/2">
              <div class="relative mb-2">
                <div class="w-10 h-10 mx-auto bg-yellow-200  rounded-full text-lg text-white flex items-center">
                  <span class="text-center text-white w-full">
                    1
                  </span>
                </div>
              </div>

              <div class="text-xl text-center 2xl:text-base font-semibold"> Log in to <a href="https://gitlab.com/users/sign_in" target="_blank" class="hover:text-yellow-400 text-yellow-300 hover:no-underline">Gitlab</a> </div>
              <!-- https://gitlab.com/users/sign_in -->
            </div>
            <!-- /progress item -->


            <!-- progress item middle -->
            <div class="w-1/2">
              <div class="relative mb-2">
                <div class="absolute flex align-center items-center align-middle content-center"
                  style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                  <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                    <div class="w-0 bg-green-300 py-1 rounded"></div>
                    <!-- middle part 100 full & 50 half progressstatus-->
                  </div>
                </div>

                <div class="w-10 h-10 mx-auto bg-yellow-400 rounded-full text-lg text-white flex items-center">
                  <span class="text-center text-white w-full">
                    2
                  </span>
                </div>
              </div>
              
              <div class="text-xl text-center 2xl:text-base font-semibold"> Get an  <a href="https://gitlab.com/-/profile/personal_access_tokens" target="_blank" class="hover:text-yellow-500 text-yellow-400 hover:no-underline">access token</a></div>
              <!-- https://gitlab.com/-/profile/personal_access_tokens -->
            </div>

            <!-- progress item middle -->
            <div class="w-1/2">
              <div class="relative mb-2">
                <div class="absolute flex align-center items-center align-middle content-center"
                  style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                  <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                    <div class="w-0 bg-green-300 py-1 rounded" style="width: ${procentBar}%;"></div>
                    <!-- middle part 100 full & 50 half progressstatus-->
                  </div>
                </div>

                <div
                  class="w-10 h-10 mx-auto bg-yellow-600 border-2 border-gray-200 rounded-full text-lg text-white flex items-center">
                  <span class="text-center text-white w-full">
                    3
                  </span>
                </div>
              </div>

              <div class="text-xl text-center 2xl:text-base font-semibold"> Paste it here and enjoy </div>
            </div>

          </div>
        </div>
      </section>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate class="search-form">
        <div class="flex flex-col p-7 items-center justify-center">
          <input placeholder="Paste access token here ..." formControlName="token"
            class="w-80 bg-amber-100 rounded-xl px-2 py-8 border-b-2 border-yellow-300 outline-none" />
        </div>
        <div class="flex items-center justify-center mt-12 m-10">
          <div *ngIf="isLoading; else showButton">
            <div class="
                    animate-spin
                    rounded-full
                    h-32
                    w-32
                    border-t-2 border-b-2 border-yellow-300">
            </div>
          </div>
          <ng-template #showButton>
            <button type="submit" [disabled]="!searchForm.valid"
              class="bg-yellow-300 hover:bg-yellow-400 active:bg-yellow-600 focus:outline-none focus:ring focus:ring-yellow-300 rounded-xl py-6 px-12 border-2 outline-none rounded-md font-semibold">
              Let's go </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
