<div class="rounded-2xl shadow-xl h-full bg-yellow-100">
    <div class="flex flex-col p-7">
        <div class="flex flex-row">
            <div class="text-xs uppercase bg-yellow-300 p-1 px-2 text-yellow-700 rounded-2xl"> {{project.name_with_namespace}} </div>
        </div>
        <h2 class="text-xl font-bold truncate mt-1">  {{project.name}} </h2>
        <p class="text-base text-gray-600 mt-1"> Created at {{project.created_at | date :'short'}} </p>
        <div class="flex flex-row mt-5 items-center justify-start">
            <img class="rounded-2xl mr-2 itemImg" [src]="project.bgCover">
            <p class="font-bold text-sm mr-2"> <a class="route" target="_blank" href="{{project.web_url}}">URL</a></p>
            <p class="text-gray-400 text-sm hover:text-yellow-400"> <button (click)="goToReporting()"> See commits </button></p>
        </div>
    </div>
</div>