<app-header></app-header>

<div *ngIf="isLoading; else showItems" class="flex h-screen">
  <div class="m-auto">
      <div class="flex justify-center items-center">
        <div class="
            animate-spin
            rounded-full
            h-32
            w-32
            border-t-2 border-b-2 border-red-200
          "></div>
      </div>
    </div>
</div>

<ng-template #showItems>
  <div class="flex justify-center items-center">
    <div class="relative">
      <div class="absolute top-4 left-3 border-red-400"> </div>
      <input type="text" (keyup)="filter($event)"
        class="h-14 w-96 pl-10 pr-20 rounded-lg z-0 focus:shadow focus:outline-none border-2 border-yellow-400"
        placeholder="Search ...">
    </div>
  </div>

  <div class="grid p-8 gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
    <app-project class="bg-white"
      *ngFor="let project of projectsFiltered | paginate: { itemsPerPage: 9, currentPage: p }" [project]=project>
    </app-project>
  </div>

  <div class="flex justify-center items-center">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
  
</ng-template>
