@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.logo { 
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.route:hover {
    text-decoration: none;
    color: #FF8063;
    font-size: 12px;
}

.logo:hover { 
    text-decoration: none;
    color: #FF8063;
    font-size: 25px;
}


h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #FF8063;
    font-weight: bold;
}

body {
    background-color: #fff;
}

nav {
    background-color: #fff
}